<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: Shortened URL Details</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h2>Shortened URL Details</h2>
    <ul>
      <li>Shortened: <a href="/u/<%= shortURL %>">/u/<%= shortURL %></a></li>
      <li>Full: <a href="<%= fullURL %>"><%= fullURL %></a></li>
      <li>Update:
        <form action="/urls/:id" method="POST">
        <label for="newLongURL">Enter an updated URL:</label>
        <input id="newLongURL" type="text" name="newLongURL" placeholder="http://">
        <input id="shortURL" type="hidden" name="shortURL" value="<%= shortURL %>">
        <input type="submit" value="Update">
      </form>
      </li>
    </ul>
  </body>
</html>