<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: Shortened URL Details</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <% if (fullURL === undefined) { %>
      <p>That's not a valid URL. Why not <a href="/urls/new">make your own shortened URL</a> or <a href="/urls/">view the ones you have shortened already</a>?</p>
    <% } else if (user === undefined) { %>
    <!-- If a user is not logged in, show them the way to register or login -->
      <p>This page is used to edit the details of a shortened URL, and you need to be logged in to use it.</p>
      <p>You can still see <a href="/u/<%= shortURL %>">use the short link</a> (it goes to <a href="<%= fullURL %>"><%= fullURL %></a>), but you can't edit it.</p>
      <p>If you were to <a href="/user/register">register</a> or <a href="/user/login">login</a>, this page would be a <strong>lot</strong> more interesting.
    <% } else if (urlUserID !== user.id ) { %> <!-- If a user is logged in, but doesn't own this URL, they can see where it goes or make their own -->
      <p>It looks like this link doesn't belong to you.</p>
      <p>You can still see <a href="/u/<%= shortURL %>">use the short link</a> (it goes to <a href="<%= fullURL %>"><%= fullURL %></a>), but you can't edit it.</p>
      <p>Why not <a href="/urls/new">make your own shortened URL</a> or <a href="/urls/">view the ones you have shortened already</a>?</p>
    <% } else { %> <!-- If logged in, show the update form-->
      <h2>Shortened URL Details</h2>
      <ul>
        <li>Short URL: <a href="/u/<%= shortURL %>">/u/<%= shortURL %></a></li>
        <li>Full URL: <a href="<%= fullURL %>"><%= fullURL %></a></li>
        <li>Update:
          <form action="/urls/:id" method="POST">
            <label for="newLongURL">Enter an updated URL:</label>
            <input id="newLongURL" type="text" name="newLongURL" placeholder="<%= fullURL %>">
            <input id="shortURL" type="hidden" name="shortURL" value="<%= shortURL %>">
            <input id="userID" type="hidden" name="userID" value="<%= user.id %>">
            <input type="submit" value="Update">
          </form>
        </li>
      </ul>
    <% } %>
  </body>
</html>
