<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: URLs Index</title>
  </head>
  <body>
    <% include partials/_header.ejs %>
    <h2>Shortened URLs Index</h2>
    <ul>
      <% for(var key in urls) { %>
        <li>
          <a href="/u/<%= key %>">/u/<%= key %></a>: <a href="<%= urls[key] %>"><%= urls[key] %></a>
          <a href="/urls/<%= key %>">Edit</a>
          <form method="POST" action="/urls/<%= key %>/delete"><button>Delete</button></form>
        </li>
      <% } %>
        <li>
          <a href="/urls/new">Shorten a new URL</a>
        </li>
    </ul>
  </body>
</html>