<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp: URLs Index</title>
  </head>
  <body>
    <%- include('partials/_header.ejs') %>
    <!--If not logged in, display nothing but header -->
    <% if (user === undefined) { %>
      <p>This URL shortening service requires registration to shorten new URLs. If you were to <a href="/user/register">register</a> or <a href="/user/login">login</a>, this page would be a <strong>lot</strong> more interesting.
      <% } else { %> <!-- If logged in, display the index,-->
    <h2>Shortened URLs Index</h2>
    <ul>
      <% for(var key in urls) { %>
        <li>
          <a href="/u/<%= key %>">/u/<%= key %></a>: <a href="<%= urls[key].url %>"><%= urls[key].url %></a>
          <form method="GET" action="/urls/<%= key %>">
            <button>Edit</button>
          </form>
          <form method="POST" action="/urls/<%= key %>/delete">
            <button>Delete</button>
          </form>
        </li>
      <% } %>
        <li>
          <a href="/urls/new">Create a new short URL</a>
        </li>
    </ul>
    <% } %>
  </body>
</html>
